@model List<MyPortfolio.Models.TblTeams>



    <div class="team" id="team">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>My Team</p>
                <h2>Expert Team Members</h2>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="@item.ImageUrl" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>@item.NameSurname</h2>
                                <h4>@item.Title</h4>
                                <p>
                                    @item.Description
                                </p>
                                <div class="team-social">
                                    <a class="btn" href="@item.TwitterUrl"><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href="@item.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                </div>

            @*<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="team-item">
                <div class="team-img">
                    <img src="img/team-2.jpg" alt="Image">
                </div>
                <div class="team-text">
                    <h2>Dylan Adams</h2>
                    <h4>Web Developer</h4>
                    <p>
                        Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                    </p>
                    <div class="team-social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="team-item">
                <div class="team-img">
                    <img src="img/team-3.jpg" alt="Image">
                </div>
                <div class="team-text">
                    <h2>Jennifer Page</h2>
                    <h4>Apps Designer</h4>
                    <p>
                        Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                    </p>
                    <div class="team-social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="team-item">
                <div class="team-img">
                    <img src="img/team-4.jpg" alt="Image">
                </div>
                <div class="team-text">
                    <h2>Josh Dunn</h2>
                    <h4>Apps Developer</h4>
                    <p>
                        Lorem ipsum dolor sit amet consec adipis elit. Etiam accum lacus
                    </p>
                    <div class="team-social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div> *@
        </div>
    </div>
